<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bazis</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bazis.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bazis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="footer-item active">

            <a href="{{route('index')}}">
            <div class="footer-icon"><img width="30" height="30" src="/img/menu/house.png"></div>
            <div>
                Главная
            </div>
            </a>

        </div>

        <a href="{{route('auto.index')}}">
        <div class="footer-item">
            <div class="footer-icon"><img width="30" height="30" src="/img/menu/image.png"></div>
            <div>Автомобиль</div>
        </div>
        </a>

        <a href="{{route('booking.index')}}">
        <div class="footer-item">
            <div class="footer-icon"><img width="30" height="30" src="/img/menu/order.PNG"></div>
            <div>Запись</div>
        </div>
        </a>

        <a href="{{route('news.index')}}">
        <div class="footer-item">
            <div class="footer-icon">
                <img width="30" height="30" src="/img/menu/lupa.PNG"></div>
            <div>Новости</div>
        </div>
        </a>

        <a href="{{route('chat.index')}}">
        <div class="footer-item">
            <div class="footer-icon"><img width="30" height="30" src="/img/menu/chat.PNG"></div>
            <div>Поддержка</div>
        </div>
        </a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
