<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bazis</title>
    <script type="importmap"></script>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/Bazis.styles.css" asp-append-version="true" />-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
</head>
<body>

   
            @RenderBody()
     

    <nav class="navbar">
    <a href="#"><svg viewBox="0 0 24 24"><!-- home icon --></svg><span>Главная</span></a>
    <a href="#" class="active"><svg viewBox="0 0 24 24"><!-- services icon --></svg><span>Сервисы</span></a>
    <a href="#"><svg viewBox="0 0 24 24"><!-- records icon --></svg><span>Записи</span></a>
    <a href="#"><svg viewBox="0 0 24 24"><!-- profile icon --></svg><span>Профиль</span></a>
  </nav>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
