body[b-0eb6wh48io] {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    color: #002B5C;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header[b-0eb6wh48io] {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-title[b-0eb6wh48io] {
    font-size: 22px;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.back-button[b-0eb6wh48io] {
    font-size: 20px;
    color: #002B5C;
    text-decoration: none;
}




.chat-message[b-0eb6wh48io] {
    background-color: #E9E9E9;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    color: #002B5C;
    font-size: 14px;
}

.chat-message.system[b-0eb6wh48io] {
    text-align: center;
    background-color: transparent;
    margin: 20px 0;
    font-size: 12px;
    color: #666;
}


.chat-input[b-0eb6wh48io] {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

.chat-send-button[b-0eb6wh48io] {
    background-color: #002B5C;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}


.chat-container[b-0eb6wh48io] {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-footer[b-0eb6wh48io] {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    background-color: #fff;
    padding: 10px 15px;
    position: fixed; /* Закрепляем элемент */
    bottom: 80px; /* Расстояние до футера */
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.footer[b-0eb6wh48io] {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: #FFFFFF;
    position: fixed; /* Закрепляем футер */
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Фиксированная высота для правильного позиционирования */
}
