@{
    ViewData["Title"] = "Home Page";
}



<div class="header">
    <div class="profile-circle"></div>
    <a href="{{route('user.index')}}">
    <div class="user-name"> &gt;</div>
    </a>
</div>
<div class="content">
    <button class="button" onclick="location.href='/Orders/Create';">Записаться на СТО</button>
    <div class="section">

        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        
    
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        <div class="section-title">Сервисы</div>
        <div class="slider">
            <div class="slider-item">Оформление ОСАГО</div>
            <div class="slider-item">Оформление КАСКО</div>
            <div class="slider-item">Сервис 3</div>
            <div class="slider-item">Сервис 4</div>
            <div class="slider-item">Сервис 5</div>
            <div class="slider-item">Сервис 6</div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">Акции</div>
        <div class="slider">
            <div class="slider-item">Акция 1</div>
            <div class="slider-item">Акция 2</div>
            <div class="slider-item">Акция 3</div>
            <div class="slider-item">Акция 4</div>
            <div class="slider-item">Акция 5</div>
            <div class="slider-item">Акция 6</div>
        </div>
    </div>
</div>


