 <div class="header">
        <div class="header-title">
            Ваши автомобили
        </div>
    </div>
    <div class="header">
        <div class="header-title">
            <a href="/Orders">Просмотреть активные записи</a>
        </div>
    </div>
    <div class="header">
    <div class="header-title">
        <a href="#">Просмотреть истории обслуживания</a>
    </div>
    </div>