/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-e5tkx5b5ln] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e5tkx5b5ln] {
  color: #0077cc;
}

.btn-primary[b-e5tkx5b5ln] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-e5tkx5b5ln], .nav-pills .show > .nav-link[b-e5tkx5b5ln] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-e5tkx5b5ln] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e5tkx5b5ln] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e5tkx5b5ln] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e5tkx5b5ln] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e5tkx5b5ln] {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.footer-item[b-e5tkx5b5ln] {
  text-align: center;
  font-size: 12px;
}
.footer-icon[b-e5tkx5b5ln] {
 font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #000;
}
.active .footer-icon[b-e5tkx5b5ln] {
  color: #002B5C;
}


a[b-e5tkx5b5ln]
{
color:black;
}